<div class="container"><br /> {{userName}}
    <form novalidate #form="ngForm">

        <table class="table table-bordered" id="table">
            <thead>
                <th>
                    <div class="form-group" id="table">
                        <strong>ACCESS STATUS</strong>
                        <select class="form-control" name="accessStatus" [(ngModel)]="accessStatus">
                            <!-- Remove this if you want a continuous filter -->
                            <option></option>
                            <option value="APPR">APPROVED</option>
                            <option value="REJC">REJECTED</option>
                            <option value="PEND">PENDING</option>
                        </select>
                    </div>
                </th>
                <th>
                    <div class="form-group" id="table">
                        <strong>Location</strong>
                        <select class="form-control" name="location" [(ngModel)]="location">
                            <option></option>
                            <option *ngFor="let locations of locs" [value]="locations.key">{{ locations.name }}</option>
                        </select>
                    </div>
                </th>
                <th>
                    <div class="form-group" id="table">
                        <strong>Designation</strong>
                        <select class="form-control" name="designation" [(ngModel)]="designation">
                            <!-- Remove this if you want a continuous filter -->
                            <option></option>
                            <option value="ASSOCIATE">Associate</option>
                            <option value="DEVELOPER">Developer</option>
                            <option value="MANAGER">Manager</option>
                            <option value="WORKER">Worker</option>
                            <option value="FIREMAN">Fire Man</option>
                            <option value="CATERING">Cantering</option>
                            <option value="PEND">Manager</option>
                            <option value="PEND">Manager</option>
                            <option value="PEND">Manager</option>
                        </select>
                    </div>
                </th>
                <th>
                    <div class="form-group" id="table">
                        <strong>Gender</strong>
                        <select class="form-control" name="gender" [(ngModel)]="gender">
                            <option></option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                </th>
                <th>
                    <div class="form-group" id="table">
                        <strong>User Name</strong>
                        <input type="text" class="form-control" placeholder="Search" oninput="this.value = this.value.toUpperCase()" name="userName" [(ngModel)]="userName">
                    </div>
                </th>
            </thead>



        </table>

        <!-- <div class="form-group" id="table">
            <strong>ACCESS STATUS</strong>
            <select class="form-control" name="accessStatus" [(ngModel)]="accessStatus">    
         <option></option>      
          <option value="APPR">APPROVED</option>
          <option value="REJC">REJECTED</option>
          <option value="PEND">PENDING</option>
        </select>
        </div> -->

        <!-- <div class="form-group" id="table">
            <strong>Location</strong>
            <select class="form-control" name="location" [(ngModel)]="location">
          <option></option>      
          <option *ngFor="let locations of locs"
                  [value]="locations.key"  >{{ locations.name }}</option>
        </select>
        </div> -->

        <br /><br />


        <table class="table table-bordered" id="table">
            <thead>
                <th>Id</th>
                <th>Designation</th>
                <th>User Name</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Location</th>
                <th>Access Status</th>
                <th>Access</th>
            </thead>

            <tbody>
                <tr *ngFor="let user of users | tableFilter: form.value ">

                    <!-- <tr *ngFor="let user of users |  namefilter:filterName:'name'"> -->
                    <td>{{user.id}}</td>
                    <td>{{user.designation}}</td>
                    <td>{{user.userName}}</td>
                    <td>{{user.fName}} {{user.lName}}</td>
                    <td>{{user.emailId}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.location}}</td>
                    <td>{{user.accessStatus}}</td>
                    <!-- <td style="width:auto;" *ngIf="user.accessStatus=='!APPR'"><button (click)="statusChange('a',user.id)">Approve</button><button (click)="statusChange('r',user.id)">Reject</button><button (click)="statusChange('i',user.id)">In Progress</button></td> -->
                    <td style="width:auto;"><button (click)="statusChange('a',user.id)" *ngIf="user.accessStatus!=='APPR'" style="background-color: rgb(19, 107, 19);">Approve</button><button (click)="statusChange('r',user.id)" *ngIf="user.accessStatus!=='REJC'" style="background-color: rgb(122, 37, 37);">Reject</button>
                        <button (click)="statusChange('i',user.id)">In Progress</button>
                    </td>

                </tr>
            </tbody>

        </table>

    </form>

</div>